<div class="row p-md-5 bg_credit_card">
  <div class="col-sm-8">
    <h5><%= I18n.t('bank_card.info') %></h5>
    <%= f.label :email, t('bank_card.number'), {class: 'col-form-label'} %>
  </div>
  <div class="col-sm-2"></div>

  <div class="col-sm-8">
    <%= f.text_field :email, required: false, type: :text, class: "form-control", placeholder: t('bank_card.help.number') %>
  </div>
  <div class="col-sm-2"></div>

  <div class="col-sm-12"><%= f.label :email, t('bank_card.holder_name'), {class:'col-form-label'} %></div>
  <div class="col-sm-4">
    <%= f.text_field :email, required: false, type: :text, class: "form-control", placeholder: t('bank_card.help.holder_name') %>
  </div>

  <div class="col-sm-2">
    <%= f.text_field :email, required: false, type: :text, class: "form-control", placeholder: t('bank_card.help.month') %>
  </div>

  <div class="col-sm-2">
    <%= f.text_field :email, required: false, type: :text, class: "form-control", placeholder: t('bank_card.help.year') %>
  </div>

  <div class="col-sm-4 text-black-50 pl-5 pr-1">
    <%= f.label :email, t('bank_card.cvc'), {class:'col-form-label'} %>
    <%= f.text_field :email, required: false, type: :text, class: "form-control", placeholder: t('bank_card.help.cvc') %>
  </div>
</div>