<% active_class = 'active' %>
<div class="payment_methods card-deck mb-3 text-dark text-center">

  <ul class="nav nav-tabs" id="pmTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link <%=active_class%>" id="pm1-tab" data-toggle="tab" href="#pm1" role="tab" aria-controls="pm1"
        aria-selected="false">
        <%= render partial: 'auth/payment_method_item', locals: { image_name: get_active_checkbox_icon, active_class: 'active' } %>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pm2-tab" data-toggle="tab" href="#pm2" role="tab" aria-controls="pm2"
        aria-selected="true">
        <%= render partial: 'auth/payment_method_item2', locals: { image_name: get_inactive_checkbox_icon, active_class: '' } %>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pm3-tab" data-toggle="tab" href="#pm3" role="tab" aria-controls="pm3"
        aria-selected="false">
        <%= render partial: 'auth/payment_method_item3', locals: { image_name: get_inactive_checkbox_icon, active_class: '' } %>
      </a>
    </li>
  </ul>
</div>

<div class="container payment_methods border_1_pink">
  <div class="row shadow-vega pb-5">
    <div class="col-md-8 offset-md-2 text-left">
      <%= render partial: 'payment_methods_card_info', locals: {f: f, active_class: active_class} %>
    </div>
  </div>
</div>