<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 pb-5">
  <div class="card mb-3 shadow-vega <%= active_class %>">
    <div class="card-header">
      <%= image_tag image_name, {class: 'mt-n5'} %>
      <h6 class="mt-4 font-weight-normal">Plan for 1 year</h6>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title mt-0 mt-0">
        <span class="text-sm-1 align-text-top">$</span><%= item.try(:price) %>
      </h1>
      <span class="text-sm-1 align-text-top">Per month</span>

      <% if item.price > 0 %>
      <p class="pb-0 pt-4">
        <%= link_to "Save $ #{item.try(:price_duration_sale)}", '#', {class: "btn btn-pink-blue #{active_class} rounded-pill text-white"} %>
      </p>
      <h5 class="card-title text-info"><strike>$ <%= item.try(:price_duration) %></strike></h5>
      <h5 class="card-title"><%= item.try(:price_comment) %></h5>
      <% end %>

      <ul class="text-left pt-2">
        <% item.features.split(',').each do |feature| %>
        <li>
          <%#= image_tag 'icons/icon_checkbox_on.png', { class: 'img-fluid', alt: '' } #%>
          <%= feature %>
        </li>
        <% end %>
      </ul>

      <button type="button" class="btn btn-outline-primary rounded-pill mb-n9">Best offer</button>
    </div>
  </div>
</div>