<div class="container login bg_star ">
  <div class="featurette text-center">
    <div class="row">

      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h1 class="featurette-heading">
          <%= t('pages.login.login_to_your_account') %>
        </h1>
        <p class="lead">
          <%= t('pages.login.do_not_have_an_account') %>
          <%= link_to t("pages.signup.title"), signup_path %>
        </p>
      </div>
      <div class="col-md-2"></div>

      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="text-right">
          <%= render partial: 'auth/form' %>
        </div>
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <%= link_to t("pages.login.form.login_trouble"), forgot_path, {class:'trouble'} %>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
      <div class="col-md-2"></div>

      <div class="col-md-12">
        <%#= image_tag 'coming_soon/mars_with_spaceship.png', {class:'img-fluid'} #%>
      </div>
    </div>
  </div>
</div>