<%= form_for @user, url: signup_path, html: {class:'container'}, remote: true do |f| %>

<div class="row">
  <div class="signup text-center">
    <div class="col-md-8 offset-md-2">
      <h1 class="m-0">
        <%= t('pages.signup.steps.title1') %>
      </h1>

      <p class="">
        <%= link_to image_tag('signup/step1.png'), '#step2', {id: 'step1', class:'img-fluid'} %>
      </p>
    </div>

    <div class="col-md-8 offset-md-2">
      <div class="text-right">
        <%= render partial: 'auth/signup_form', locals: {f: f} %>
      </div>
    </div>

    <div class="col-md-12">
      <h1 class="m-0 pt-0">
        <%= t('pages.signup.steps.title2') %>
      </h1>
      <p class="mb-4">
        <%= link_to image_tag('signup/step2.png'), '#step3', {id: 'step2', class:'img-fluid'} %>
      </p>
      <div class="container">
        <%= render partial: 'auth/step2_plans', locals: { items: @plans } %>
      </div>
    </div>

    <div class="col-md-12">
      <h1 class="m-0">
        <%= t('pages.signup.steps.title3') %>
      </h1>
      <p class="mb-4">
        <%= link_to image_tag('signup/step3.png'), '#', {id: 'step3', class:'img-fluid'} %>
      </p>
    </div>

    <div class="col-md-12">
      <%= render partial: 'auth/payment_methods', locals: {f: f} %>

    </div>
  </div>
</div>

<% end %>