<%= form_for @user, url: signup_path, remote: true do |f| %>

<div class="row signup">
  <div class="featurette text-center">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 text-center">
        <h1 class="featurette-heading">
          <%= t('pages.signup.steps.title1') %>
        </h1>

        <%= link_to image_tag('signup/step1.png'), '#step2', {id: 'step1', class:'img-fluid'} %>
        <p class="lead">

        </p>
      </div>
      <div class="col-md-2"></div>


      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="text-right">
          <%= render partial: 'auth/signup_form', locals: {f:f} %>
        </div>
      </div>
      <div class="col-md-2"></div>

      <div class="col-md-12">
        <h1 class="featurette-heading">
          <%= t('pages.signup.steps.title2') %>
        </h1>
        <%= link_to image_tag('signup/step2.png'), '#step3', {id: 'step2', class:'img-fluid'} %>
      </div>

      <div class="col-md-12">
        <h1 class="featurette-heading">
          <%= t('pages.signup.steps.title3') %>
        </h1>
        <%= link_to image_tag('signup/step3.png'), '#', {id: 'step3', class:'img-fluid'} %>
      </div>

      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="form-group row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <%= f.submit t('buttons.continue'), {class:'btn btn-outline-primary btn-block'} %>
          </div>
          <div class="col-sm-3"></div>
        </div>
        <div class="col-md-2"></div>

      </div>
    </div>
  </div>
</div>
<% end %>