<% if notice.present?%>
<p id="notice"><%= notice %></p>
<% end %>
<div class="row">
  <div class="col-sm-6 text-left">
    <h2 class="mt-2">Tariff Plans</h2>
  </div>
  <div class="col-sm-6 text-right">
    <%= link_to 'New Tariff Plan', new_tariff_plan_path, class: 'btn btn-outline-success' %>
  </div>
</div>
<table class="table text-white">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <!-- <th>Duration</th> -->
      <!-- <th>Price duration</th> -->
      <!-- <th>Price duration sale</th> -->
      <th>Price comment</th>
      <!-- <th>Features</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tariff_plans.each do |tariff_plan| %>
    <tr>
      <td><%= tariff_plan.title %></td>
      <td><%= tariff_plan.price %></td>
      <!-- <td><%= tariff_plan.duration %></td> -->
      <!-- <td><%= tariff_plan.price_duration %></td> -->
      <!-- <td><%= tariff_plan.price_duration_sale %></td> -->
      <td><%= tariff_plan.price_comment %></td>
      <!-- <td><%= tariff_plan.features %></td> -->
      <td><%= link_to 'Show', tariff_plan, { class: 'btn btn-sm btn-outline-info' } %></td>
      <td><%= link_to 'Edit', edit_tariff_plan_path(tariff_plan), { class: 'btn btn-sm btn-outline-warning' } %></td>
      <td>
        <%= link_to 'Destroy', tariff_plan, { class: 'btn btn-sm btn-outline-danger', data: { confirm: 'Are you sure?' }, method: :delete } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>