<div class="media">
  <!-- <img src="..." class="mr-3" alt="..."> -->
  <%=image_tag 'downloads', {class:'mr-3 img-fluid', alt:'', width:'300px'} %>

  <div class="media-body">
    <%=image_tag 'downloads/Apple', {class:'mr-3 img-fluid', alt:''} %>
    <%=image_tag 'downloads/Android', {class:'mr-3 img-fluid', alt:''} %>
    <%=image_tag 'downloads/WP', {class:'mr-3 img-fluid', alt:''} %>
    <%=image_tag 'downloads/Linux', {class:'mr-3 img-fluid', alt:''} %>

    <h5 class="mt-0">One Account for all your devices</h5>
    With your IVPN account you will gain unlimited access on all of our supported platforms, allowing you to protect all
    of your personal devices at the same time – without any bandwidth or data caps. Find out more in our Apps section.
  </div>
</div>