<div id="downloads" class="card mb-3">
  <!-- style="max-width: 540px;"> -->
  <div class="row no-gutters">
    <div class="col-md-6">
      <%=image_tag 'downloads', { class:'card-img', alt:''} %>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <p class="card-text">
          <%=image_tag 'downloads/Apple', {class:'mr-3 img-fluid', alt:''} %>
          <%=image_tag 'downloads/Android', {class:'mr-3 img-fluid', alt:''} %>
          <%=image_tag 'downloads/WP', {class:'mr-3 img-fluid', alt:''} %>
          <%=image_tag 'downloads/Linux', {class:'mr-3 img-fluid', alt:''} %>
        </p>
        <h5 class="card-title">One Account for all your devices</h5>
        <p class="card-text">With your IVPN account you will gain unlimited access on all of our supported platforms,
          allowing you to protect all
          of your personal devices at the same time – without any bandwidth or data caps. Find out more in our Apps
          section.</p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
  </div>
</div>