<footer class="pt-4 my-md-5">
  <div class="row">
    <div class="col-6 col-md">
      <h5><%=t('footer.product.title')%></h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-light" href="<#>"><%=t('footer.product.how_it_works')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.product.why')%> <%=t('vegaVPN')%>
            <%=t('footer.product.vpn')%></a>
        </li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.product.pricing')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.product.multihop_vpn')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.product.server_status')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.product.server_locations')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.product.what_is_a_vpn_tunnel')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.product.vpn_performance')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('vegaVPN')%>
            <%=t('footer.product.vpn_dns_server')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.product.wi_fi_hotspot')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.product.protection')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.product.protocol_comparison')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.product.privacy_laws')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.product.comparison')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.product.wireguard')%></a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5><%=t('footer.company.title')%></h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.company.about_us')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.company.customer_reviews')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.company.blog')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.company.supported_projects')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('vegaVPN')%> <%=t('footer.company.vpn_facts')%>
          </a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.company.press_resources')%></a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5><%=t('footer.security.title')%></h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.security.terms_of_service')%></a>
        </li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.security.privacy_policy')%>
          </a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.security.report_vulnerability')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.security.refund_policy')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.security.warrant_canary')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.security.legal_guidelines')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.security.transparency_report')%></a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5><%=t('footer.download.title')%></h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.download.windows_app')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.download.macos_app')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.download.ios_app')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.download.android_app')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.download.setup_linux')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.download.setup_routers')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.download.setup_nas')%></a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5><%=t('footer.support.title')%></h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.support.help_center')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.support.setup_guides')%></a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('footer.support.privacy_guides')%></a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5><%=t('footer.contact.title')%></h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-light" href="<%=new_contact_path%>"><%=t('footer.contact.contact_us')%></a></li>
        <li><a class="text-light" href="%= coming_soon_path %>"><%=t('footer.contact.twitter')%></a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md text-center">
      <%=image_tag('icons/ic_facebook.png', {class:'mb-2', alt:'Icon Facebook'})%>
      <%=image_tag('icons/ic_twitter.png', {class:'mb-2', alt:'Icon Twitter'})%>
      <%=image_tag('icons/ic_instagram.png', {class:'mb-2', alt:'Icon Instagram'})%>
      <%=image_tag('icons/ic_pinterest.png', {class:'mb-2', alt:'Icon Pinterest'})%>
      <%=image_tag('icons/ic_telegram.png', {class:'mb-2', alt:'Icon Telegram'})%>

      <!-- <img class="mb-2" src="<%=asset_url 'icons/ic_facebook.png'%>" alt="" width="24" height="24">
                <img class="mb-2" src="<%=asset_path 'icons/ic_twitter.png'%>" alt="" width="24" height="24">
                <img class="mb-2" src="./images/icons/ic_facebook.png" alt="" width="24" height="24">
                <img class="mb-2" src="./images/icons/ic_twitter.png" alt="" width="24" height="24">
                <img class="mb-2" src="./images/icons/ic_instagram.png" alt="" width="24" height="24">
                <img class="mb-2" src="./images/icons/ic_pinterest.png" alt="" width="24" height="24">
                <img class="mb-2" src="./images/icons/ic_telegram.png" alt="" width="24" height="24"> -->

    </div>
  </div>
</footer>