<footer class="pt-4 my-md-5">
  <div class="row">
    <div class="col-6 col-md">
      <h5>PRODUCT</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-light" href="<%= coming_soon_path %>">How it works</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Why <%=t('vegaVPN')%> VPN</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Pricing </a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Multihop VPN </a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Server Status</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Server Locations</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">What is a VPN tunnel</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">VPN Performance</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('vegaVPN')%> VPN DNS Server</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Wi-Fi HotSpot</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Protection </a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Protocol Comparison</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Privacy Laws</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Comparison</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">WireGuard</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>COMPANY</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-light" href="<%= coming_soon_path %>">About us</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Customer Reviews</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Blog</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Supported Projects</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Blog</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>"><%=t('vegaVPN')%> VPN Facts </a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Press Resources</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>SECURITY</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-light" href="<%= coming_soon_path %>">Terms of Service</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Privacy Policy</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Report Vulnerability</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Refund Policy</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Warrant Canary</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Legal Guidelines</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Transparency Report</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>DOWNLOAD</h5>
      <ul class="list-unstyled text-small">

        <li><a class="text-light" href="<%= coming_soon_path %>">Windows App</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">macOS App</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">iOS app</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Android App</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Setup Linux</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Setup Routers</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Setup NAS </a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>SUPPORT</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-light" href="<%= coming_soon_path %>">Help Center</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Setup Guides</a></li>
        <li><a class="text-light" href="<%= coming_soon_path %>">Privacy Guides</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>CONTACT</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-light" href="<%=new_contacts_path%>">Contact Us</a></li>
        <li><a class="text-light" href="#">Twitter</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md text-center">
      <%=image_tag('icons/ic_facebook.png', {class:'mb-2', alt:'Icon Facebook'})%>
      <%=image_tag('icons/ic_twitter.png', {class:'mb-2', alt:'Icon Twitter'})%>
      <%=image_tag('icons/ic_instagram.png', {class:'mb-2', alt:'Icon Instagram'})%>
      <%=image_tag('icons/ic_pinterest.png', {class:'mb-2', alt:'Icon Pinterest'})%>
      <%=image_tag('icons/ic_telegram.png', {class:'mb-2', alt:'Icon Telegram'})%>

      <!-- <img class="mb-2" src="<%=asset_url 'icons/ic_facebook.png'%>" alt="" width="24" height="24">
                <img class="mb-2" src="<%=asset_path 'icons/ic_twitter.png'%>" alt="" width="24" height="24">
                <img class="mb-2" src="./images/icons/ic_facebook.png" alt="" width="24" height="24">
                <img class="mb-2" src="./images/icons/ic_twitter.png" alt="" width="24" height="24">
                <img class="mb-2" src="./images/icons/ic_instagram.png" alt="" width="24" height="24">
                <img class="mb-2" src="./images/icons/ic_pinterest.png" alt="" width="24" height="24">
                <img class="mb-2" src="./images/icons/ic_telegram.png" alt="" width="24" height="24"> -->

    </div>
  </div>
</footer>