<footer class="pt-4 my-md-5">
  <div class="row ">

    <div class="col-6 col-md">
      <h5>PRODUCT</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-light" href="#">How it works</a></li>
        <li><a class="text-light" href="#">Why <%=t('vegaVPN')%> VPN</a></li>
        <li><a class="text-light" href="#">Pricing </a></li>
        <li><a class="text-light" href="#">Multihop VPN </a></li>
        <li><a class="text-light" href="#">Server Status</a></li>
        <li><a class="text-light" href="#">Server Locations</a></li>
        <li><a class="text-light" href="#">What is a VPN tunnel</a></li>
        <li><a class="text-light" href="#">VPN Performance</a></li>
        <li><a class="text-light" href="#"><%=t('vegaVPN')%> VPN DNS Server</a></li>
        <li><a class="text-light" href="#">Wi-Fi HotSpot</a></li>
        <li><a class="text-light" href="#">Protection </a></li>
        <li><a class="text-light" href="#">Protocol Comparison</a></li>
        <li><a class="text-light" href="#">Privacy Laws</a></li>
        <li><a class="text-light" href="#">Comparison</a></li>
        <li><a class="text-light" href="#">WireGuard</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>COMPANY</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-light" href="#">About us</a></li>
        <li><a class="text-light" href="#">Customer Reviews</a></li>
        <li><a class="text-light" href="#">Blog</a></li>
        <li><a class="text-light" href="#">Supported Projects</a></li>
        <li><a class="text-light" href="#">Blog</a></li>
        <li><a class="text-light" href="#"><%=t('vegaVPN')%> VPN Facts </a></li>
        <li><a class="text-light" href="#">Press Resources</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>SECURITY</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-light" href="#">Terms of Service</a></li>
        <li><a class="text-light" href="#">Privacy Policy</a></li>
        <li><a class="text-light" href="#">Report Vulnerability</a></li>
        <li><a class="text-light" href="#">Refund Policy</a></li>
        <li><a class="text-light" href="#">Warrant Canary</a></li>
        <li><a class="text-light" href="#">Legal Guidelines</a></li>
        <li><a class="text-light" href="#">Transparency Report</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>DOWNLOAD</h5>
      <ul class="list-unstyled text-small">

        <li><a class="text-light" href="#">Windows App</a></li>
        <li><a class="text-light" href="#">macOS App</a></li>
        <li><a class="text-light" href="#">iOS app</a></li>
        <li><a class="text-light" href="#">Android App</a></li>
        <li><a class="text-light" href="#">Setup Linux</a></li>
        <li><a class="text-light" href="#">Setup Routers</a></li>
        <li><a class="text-light" href="#">Setup NAS </a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>SUPPORT</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-light" href="#">Help Center</a></li>
        <li><a class="text-light" href="#">Setup Guides</a></li>
        <li><a class="text-light" href="#">Privacy Guides</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>CONTACT</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-light" href="#">Contact Us</a></li>
        <li><a class="text-light" href="#">Twitter</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md text-center">
      <%=image_tag('icons/ic_facebook.png', {class:'mb-2', alt:'Icon Facebook'})%>
      <%=image_tag('icons/ic_twitter.png', {class:'mb-2', alt:'Icon Twitter'})%>
      <%=image_tag('icons/ic_instagram.png', {class:'mb-2', alt:'Icon Instagram'})%>
      <%=image_tag('icons/ic_pinterest.png', {class:'mb-2', alt:'Icon Pinterest'})%>
      <%=image_tag('icons/ic_telegram.png', {class:'mb-2', alt:'Icon Telegram'})%>

      <!-- <img class="mb-2" src="<%=asset_url 'icons/ic_facebook.png'%>" alt="" width="24" height="24">
                <img class="mb-2" src="<%=asset_path 'icons/ic_twitter.png'%>" alt="" width="24" height="24">
                <img class="mb-2" src="./images/icons/ic_facebook.png" alt="" width="24" height="24">
                <img class="mb-2" src="./images/icons/ic_twitter.png" alt="" width="24" height="24">
                <img class="mb-2" src="./images/icons/ic_instagram.png" alt="" width="24" height="24">
                <img class="mb-2" src="./images/icons/ic_pinterest.png" alt="" width="24" height="24">
                <img class="mb-2" src="./images/icons/ic_telegram.png" alt="" width="24" height="24"> -->

    </div>
  </div>
</footer>