<div
  class="nav d-flex flex-column flex-md-row align-items-center p-3 px-md-0 mb-3 bg-transparent border-bottom shadow-sm">
  <!-- <h5 class=".logo .text-white my-0 mr-md-auto font-weight-normal">VEGA <span class="badge badge-dark">vpn</span></h5> -->
  <h5 class=".text-white my-0 mr-md-auto font-weight-normal">
    <%= image_tag 'logo.svg', {class: 'img-fluid', alt: 'Vega VPN'}%>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 btn btn-outline-light" href="<%=root_path%>#features"><%=t('nav_menu.features')%></a>
    <a class="p-2 btn btn-outline-light" href="<%=coming_soon_path%>"><%=t('nav_menu.pricing')%></a>
    <a class="p-2 btn btn-outline-light" href="<%=coming_soon_path%>"><%=t('nav_menu.apps')%></a>
    <a class="p-2 btn btn-outline-light" href="<%=coming_soon_path%>"><%=t('nav_menu.help')%></a>
    <a class="btn btn-outline-light" href="<%=coming_soon_path%>"><%=t('nav_menu.log_in')%></a>
    <a class="btn btn-outline-primary" href="<%=coming_soon_path%>"><%=t('nav_menu.sign_up')%></a>
  </nav>

</div>