<div class="row">
  <div class="col-4">
    <div class="media">
      <!-- <img src="..." class="align-self-center mr-3" alt="..."> -->
      <%= image_tag 'reviews/icon', {class:'align-self-center mr-3'} %>
      <div class="media-body">
        <p class="mb-0">Edward Snowden </p>
        <!-- <h4 class="mt-0">Center-aligned media</h4> -->
        <%= image_tag 'reviews/img_reddit', {class: 'img-fluid'} %>
        <!-- <p>Cras </p> -->
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="media">
      <!-- <img src="..." class="align-self-center mr-3" alt="..."> -->
      <%= image_tag 'reviews/icon', {class: 'align-self-center mr-3'} %>
      <div class="media-body">
        <p class="mb-0">Edward Snowden</p>
        <!-- <h4 class="mt-0">Center-aligned media</h4> -->
        <%= image_tag 'reviews/img_guardian', {class: 'img-fluid'} %>
        <!-- <p>Cras </p> -->
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="media">
      <!-- <img src="..." class="align-self-center mr-3" alt="..."> -->
      <%= image_tag 'reviews/icon', {class:'align-self-center mr-3'} %>
      <div class="media-body">
        <p class="mb-0">Glenn Greenwald</p>
        <!-- <h4 class="mt-0">Center-aligned media</h4> -->
        <%= image_tag 'reviews/img_post', {class: 'img-fluid'} %>
        <!-- <p>Cras </p> -->
      </div>
    </div>
  </div>
</div>