<div class="card mb-3 active">
  <!-- <div class="card-header">
  </div> -->
  <div class="card-body">
    <h1 class="card-title pricing-card-title pt-0 mt-0">
      <span class="text-sm-1 align-text-top">$</span><%=item.try(:price)%>
    </h1>
    <span class="text-sm-1 align-text-top pt-n5">Per month</span>
    <h5 class="card-title"></h5>
    <div class="row">
      <div class="col-md-6">
        <ul class="text-left list-unstyled">
          <% item.features.split(',').each do |feature| %>
          <li><%= image_tag 'icons/icon_checkbox_on.png', { class: 'img-fluid', alt: '' } %> <%= feature %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-6 text-right">
        <p class="pb-0">
          <%= link_to 'Save $ 322.65', '#', {class: "btn btn-pink-blue active rounded-pill text-white"} %>
        </p>
        <h5 class="card-title text-info"><strike>$430.20</strike></h5>
        <h5 class="card-title">$107.55 every 3 years</h5>
      </div>
      <div class="col pt-2">
        <!-- <button type="button" class="btn btn-outline-primary rounded-pill mb-n9">Best offer</button> -->
        <%= link_to 'Start my free trial', '#', {class: 'btn btn-outline-primary'} %>
      </div>
    </div>
  </div>

  <!-- <div class="card-footer">
  </div> -->
</div>