<ul class="nav nav-pills mb-3" id="pills-tabPlan" role="tablist">
  <% @plans.each_with_index do |item, index| %>
  <li class="nav-item col-sm-6 col-md-3">
    <button class="btn btn-pink-dark rounded-pill <%= get_active_class_by_index(index, @plan_active_index) %>"
      id="pills-plan<%= item.id %>-tab" data-toggle="pill" href="#pills-plan<%= item.id %>" role="tab"
      aria-controls="pills-plan<%= item.id %>" aria-selected="true">
      <%= item.try(:title) %>
    </button>
  </li>
  <% end %>
</ul>

<div class="tab-content" id="pills-tabPlanContent">
  <% @plans.each do |item| %>
  <div class="tab-pane fade show active" id="pills-plan<%= item.id %>" role="tabpanel"
    aria-labelledby="pills-plan<%= item.id %>-tab">
    <%= render partial: 'home/pricing_tab_item.html.erb', locals: {item: item} %>
  </div>
  <% end %>
</div>