<div class="card mb-3 active">
  <div class="card-header">
    <h6 class="mt-4 font-weight-normal">Plan for 1 year</h6>
  </div>

  <div class="card-body">

    <h1 class="card-title pricing-card-title mt-0 mt-0">
      <span class="text-sm-1 align-text-top">$</span>2.99
    </h1>
    <span class="text-sm-1 align-text-top no-gutters">Per month</span>
    <h5 class="card-title pricing-card-title"></h5>

    <p class="pb-0">
      <%= link_to 'Save $ 322.65', '#', {class: "btn btn-pink-blue active rounded-pill text-white"} %>
    </p>

    <h5 class="card-title pricing-card-title text-info"><strike>$430.20</strike></h5>
    <h5 class="card-title pricing-card-title">$107.55 every 3 years</h5>

    <ul class="text-left list-unstyled">
      <li><%= image_tag 'icons/icon_checkbox_on.png', { class: 'img-fluid', alt: '' } %> All Countries</li>
      <li><%= image_tag 'icons/icon_checkbox_on.png', { class: 'img-fluid', alt: '' } %> 5 Devices
        simultaneously</li>
      <li><%= image_tag 'icons/icon_checkbox_on.png', { class: 'img-fluid', alt: '' } %> High Speed</li>
      <li><%= image_tag 'icons/icon_checkbox_on.png', { class: 'img-fluid', alt: '' } %> Unlimited traffic</li>
    </ul>

    <!-- <button type="button" class="btn btn-outline-primary rounded-pill mb-n9">Best offer</button> -->
    <%= link_to 'Start my free trial', '#', {class: 'btn btn-outline-primary'} %>

  </div>
</div>