<div class="row bg2">
  <div class="container-fluid">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
      <h5 class=".logo .text-white my-0 mr-md-auto font-weight-normal">VEGA <span>vpn</span></h5>

      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-white" href="#">Features</a>
        <a class="p-2 text-white" href="#">Pricing</a>
        <a class="p-2 text-white" href="#">Apps</a>
        <a class="p-2 text-white" href="#">Help</a>
      </nav>
      <a class="btn btn-outline-light" href="#">Log in</a>
      <a class="btn btn-outline-danger" href="#">Sign up</a>
    </div>


    <!-- Pricing -->
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Choose a plan</h1>
      <!-- <p class="lead">
        <img class="mb-2" src="./images/logo.svg" alt="" width="24" height="24">
        Quickly build an effective pricing table for your potential customers with this Bootstrap example.
        It’s built with default Bootstrap components and utilities with little customization.</p>
      -->
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-dark text-center">
        <div class="card mb-3 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-light">Sign up for free</button>
          </div>
        </div>
        <div class="card mb-3 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-light">Get started</button>
          </div>
        </div>
        <div class="card mb-3 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Enterprise</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
              <li>15 GB of storage</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-light">Contact us</button>
          </div>
        </div>
        <div class="card mb-3 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Enterprise</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
              <li>15 GB of storage</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-light">Contact us</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row footer">
  <div class="container-fluid">
    <div class="row">
      <div class="container">

        <footer class="pt-4 my-md-5">
          <div class="row ">

            <div class="col-6 col-md">
              <h5>PRODUCT</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-light" href="#">How it works</a></li>
                <li><a class="text-light" href="#">Why IVPN</a></li>
                <li><a class="text-light" href="#">Pricing </a></li>
                <li><a class="text-light" href="#">Multihop VPN </a></li>
                <li><a class="text-light" href="#">Server Status</a></li>
                <li><a class="text-light" href="#">Server Locations</a></li>
                <li><a class="text-light" href="#">What is a VPN tunnel</a></li>
                <li><a class="text-light" href="#">VPN Performance</a></li>
                <li><a class="text-light" href="#">IVPN DNS Server</a></li>
                <li><a class="text-light" href="#">Wi-Fi HotSpot</a></li>
                <li><a class="text-light" href="#">Protection </a></li>
                <li><a class="text-light" href="#">Protocol Comparison</a></li>
                <li><a class="text-light" href="#">Privacy Laws</a></li>
                <li><a class="text-light" href="#">Comparison</a></li>
                <li><a class="text-light" href="#">WireGuard</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>COMPANY</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-light" href="#">About us</a></li>
                <li><a class="text-light" href="#">Customer Reviews</a></li>
                <li><a class="text-light" href="#">Blog</a></li>
                <li><a class="text-light" href="#">Supported Projects</a></li>
                <li><a class="text-light" href="#">Blog</a></li>
                <li><a class="text-light" href="#">IVPN Facts </a></li>
                <li><a class="text-light" href="#">Press Resources</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>SECURITY</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-light" href="#">Terms of Service</a></li>
                <li><a class="text-light" href="#">Privacy Policy</a></li>
                <li><a class="text-light" href="#">Report Vulnerability</a></li>
                <li><a class="text-light" href="#">Refund Policy</a></li>
                <li><a class="text-light" href="#">Warrant Canary</a></li>
                <li><a class="text-light" href="#">Legal Guidelines</a></li>
                <li><a class="text-light" href="#">Transparency Report</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>DOWNLOAD</h5>
              <ul class="list-unstyled text-small">

                <li><a class="text-light" href="#">Windows App</a></li>
                <li><a class="text-light" href="#">macOS App</a></li>
                <li><a class="text-light" href="#">iOS app</a></li>
                <li><a class="text-light" href="#">Android App</a></li>
                <li><a class="text-light" href="#">Setup Linux</a></li>
                <li><a class="text-light" href="#">Setup Routers</a></li>
                <li><a class="text-light" href="#">Setup NAS </a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>SUPPORT</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-light" href="#">Help Center</a></li>
                <li><a class="text-light" href="#">Setup Guides</a></li>
                <li><a class="text-light" href="#">Privacy Guides</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>CONTACT</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-light" href="#">Contact Us</a></li>
                <li><a class="text-light" href="#">Twitter</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md text-center">
              <%=image_tag('icons/ic_facebook.png', {class:'mb-2', alt:'Icon Facebook'})%>
              <%=image_tag('icons/ic_twitter.png', {class:'mb-2', alt:'Icon Twitter'})%>
              <%=image_tag('icons/ic_instagram.png', {class:'mb-2', alt:'Icon Instagram'})%>
              <%=image_tag('icons/ic_pinterest.png', {class:'mb-2', alt:'Icon Pinterest'})%>
              <%=image_tag('icons/ic_telegram.png', {class:'mb-2', alt:'Icon Telegram'})%>

              <!-- <img class="mb-2" src="<%=asset_url 'icons/ic_facebook.png'%>" alt="" width="24" height="24">
              <img class="mb-2" src="<%=asset_path 'icons/ic_twitter.png'%>" alt="" width="24" height="24">
              <img class="mb-2" src="./images/icons/ic_facebook.png" alt="" width="24" height="24">
              <img class="mb-2" src="./images/icons/ic_twitter.png" alt="" width="24" height="24">
              <img class="mb-2" src="./images/icons/ic_instagram.png" alt="" width="24" height="24">
              <img class="mb-2" src="./images/icons/ic_pinterest.png" alt="" width="24" height="24">
              <img class="mb-2" src="./images/icons/ic_telegram.png" alt="" width="24" height="24"> -->

            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>