<div class="container">
  <%= render partial: 'shared/product_with_btn_pricing' %>

  <%#= render partial: 'shared/reviews_section' #%>
  <%= render partial: 'shared/reviews_section_tab' %>

  <%= render partial: 'shared/security_and_trust' %>

  <%= render partial: 'shared/features', locals: {items: @features}%>
  <%= react_component('Features', { features: @features }) %>

  <%#= render partial: 'shared/pricing' #%>
</div>

<div class="container-fluid bg2">
  <div class="container">
    <%= render partial: 'shared/app_downloads' %>
  </div>
</div>