<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-12 border_1_pink text-center shadow-vega bg-color">
        <h1>
          One price for all your devices
        </h1>

        <%#= render 'home/pricing_tab2' #%>
        <%= render 'home/pricing_tab' %>

      </div>

      <div class="col-12 text-center">
        <p class="p-4">Looking to add more users? Visit our <%= link_to 'Teams page.', '#' %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-7">
        <h2 class="pb-4">Cheap, fast or secure. You can only choose two.</h2>
        <p>You will find cheaper VPN services but you won’t find a better one. Others charge a little less, then make up
          the difference by overselling their servers, severely impacting your performance.
        </p>
        <p>
          By charging a little more, VPN can provide you with better security, faster servers and awesome support from
          IT
          professionals. The difference is only a few dollars a month for a service that will affect your online
          experience every day.
        </p>
      </div>
      <div class="col-sm-5">
        <ul class="list-group bg-transparent">
          <li class="list-group-item bg-transparent">
            All plans include:</li>
          <li class="list-group-item bg-transparent">
            <%= image_tag 'icons/icon_checkbox_on.png', { class: 'img-fluid', alt: '' } %>
            7-day unconditional guarantee
          </li>
          <li class="list-group-item bg-transparent">
            <%= image_tag 'icons/icon_checkbox_on.png', { class: 'img-fluid', alt: '' } %> Protection for all your
            devices</li>
          <li class="list-group-item bg-transparent">
            <%= image_tag 'icons/icon_checkbox_on.png', { class: 'img-fluid', alt: '' } %> 24/7
            Support</li>
          <li class="list-group-item bg-transparent">
            <%= image_tag 'icons/icon_checkbox_on.png', { class: 'img-fluid', alt: '' } %> Audited no-logs service</li>
          <li class="list-group-item bg-transparent">
            <%= image_tag 'icons/icon_checkbox_on.png', { class: 'img-fluid', alt: '' } %> Access to all servers</li>
          <li class="list-group-item bg-transparent">
            <%= image_tag 'icons/icon_checkbox_on.png', { class: 'img-fluid', alt: '' } %> Apps
            for Windows, macOS, iOS, Android</li>
          <li class="list-group-item bg-transparent">
            <%= image_tag 'icons/icon_checkbox_on.png', { class: 'img-fluid', alt: '' } %> Unlimited bandwidth</li>
          <li class="list-group-item bg-transparent">
            <%= image_tag 'icons/icon_checkbox_on.png', { class: 'img-fluid', alt: '' } %> Instant Account Activation
          </li>
        </ul>
      </div>

      <%= render partial: 'shared/reviews_section_tab' %>
      <%#= render partial: 'shared/answers_and_questions' %>

    </div>


  </div>
</div>

<!-- <div class="container payment_methods border_1_pink">
  <div class="row shadow-vega pb-5">
    <div class="col-md-8 offset-md-2 text-left">
      <%#= render partial: 'payment_methods_card_info', locals: {f: f} #%>
    </div>
  </div>
</div> -->

<!--
<div class="container-fluid bg2_contain">
  <div class="container min-vh-100">
  </div> 
</div>
-->