<div class="container status_page ">
  <div class="featurette text-center">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag 'coming_soon/astronaut.png', { class:'img-fluid', alt: '' } %>
      </div>
      <div class="col-md-4">
        <h1 class="featurette-heading">
          <%#= t('pages.coming_soon.title') #%>
        </h1>
        <br /><br /><br />
        <h2 class="featurette-heading">
          <%= t('pages.coming_soon.subtitle') %>
        </h2>
        <p class="lead"><%= t('pages.coming_soon.text') %></p>
        <!-- <a href="<%=root_path%>" class="btn btn-outline-primary">
          <span class="glyphicon glyphicon-circle-arrow-right"><%= t('buttons.back_to_home_page') %></span>
        </a> -->
      </div>
      <div class="col-md-4 justify-content-center align-self-center">
        <%= image_tag 'star.png', {class:'img-fluid'} %>
        <%#= image_tag 'coming_soon/spaceship@2x.svg', {class:'img-fluid'} #%>
      </div>
      <div class="col-md-12">
        <%= image_tag 'coming_soon/mars_with_spaceship.png', {class:'img-fluid'} %>
      </div>
    </div>
  </div>
</div>