<div class="status_page">
  <div class="featurette text-center">
    <div class="row">
      <div class="col-md-5">
        <%= image_tag 'astronaut.png', { class:'img-fluid', alt: '' } %>
      </div>
      <div class="col-md-4">
        <h1 class="featurette-heading">
          <%= t('pages.not_found.title') %>
        </h1>
        <h2 class="featurette-heading">
          <%= t('pages.not_found.subtitle') %>
        </h2>
        <p class="lead"><%= t('pages.not_found.text') %></p>
        <a href="<%=root_path%>" class="btn btn-outline-primary">
          <span class="glyphicon glyphicon-circle-arrow-right"><%= t('buttons.back_to_prev_page') %></span></a>
      </div>
      <div class="col-md-3 justify-content-center align-self-center">
        <%= image_tag 'star.png', {class:'img-fluid'} %>
      </div>
      <div class="col-md-12">
        <%= image_tag 'bg2_with_mars.png', {class:'img-fluid'} %>
      </div>
    </div>
    <%#= image_tag 'compare/header_with_first_section.png', {class:'img-fluid'} #%>
  </div>
</div>