<h5 class="card-title">Account: <%=@ticket.try(:user).try(:email)%></h5>
<p>Department: <%=@ticket.try(:department).try(:title)%></p>
<p>Subject: Ticket number <%=@ticket.try(:id)%> - <%=@ticket.title%></p>
<br />
<p>Dear Sir or Madam,</p>
<br />
<p>You will received a reply within 24 to 48 hours with a notification e-mail giving you
  information for reading.</p>
<br />
<!-- <p>You've got a reply to your assistance request number <%=@ticket.try(:id)%>.</p> -->
<% if @ticket.try(:id)%>
<p>
  You can follow your ticket at
  <a href="<%=@ticket.url%>" class="">
    <%=@ticket.url%>.
  </a>

  <!-- <a href="<%=api_v1_ticket_url(@ticket.try(:id))%>" class="btn btn-outline-secondary">
    view more details
  </a> -->
</p>
<br />
<%end%>
<!-- Without activiy in three days, your assistance request will be closed. -->
<p>
  If you have any questions, please contact us
  <%=link_to root_url+'contact_us', root_url+'contact_us', class: '' %>
</p>
<br />
<p>
  Best regards,
</p>

<!-- <p class="card-text">
  Attachment url: <a href="<%=@ticket.attachment_url%>"><%=@ticket.attachment_name%></a>
</p> -->