<h5 class="card-title">Account: <%=@ticket.try(:user).try(:email)%></h5>
<p>
  Department: <%=@ticket.try(:department).try(:title)%>
</p>
<p>
  Subject: Ticket no <%=@ticket.try(:id)%> - <%=@ticket.title%>
</p>
<p class="card-text">
  Message: <%=@ticket.text%>
</p>

<!-- <p class="card-text">
  <%=@ticket.attachment_url%>
</p> -->
<% if @ticket.try(:id)%>
<p>
  Ticket url:
  <a href="<%=@ticket.url%>" class="btn btn-outline-secondary">
    <%=@ticket.url%>
  </a>
</p>
<% end %>

<!-- <button class="btn btn-outline-secondary">view more details</button> -->