<h5 class="card-title"><%=@ticket.try(:user).try(:email)%></h5>
<p class="card-text">
  <%=@ticket.try(:department).try(:title)%>
</p>
<p class="card-text">
  <%=@ticket.title%>
</p>
<p class="card-text">
  <%=@ticket.text%>
</p>

<p class="card-text">
  <%#=@ticket.attachment#%>
  <a href="<%=@attachment_url%>">attachment url !</a>
  <a href="<%=@ticket.attachment_url%>">attachment url</a>
  <a
    href="<%=attachments['attachment'].url if attachments['attachment'].present? && attachments['attachment'].url.present? %>">
    attachment link
  </a>
</p>

<!-- <a href="<%#=api_v1_ticket_url(@ticket.id)#%>" class="btn btn-outline-secondary">
  view more details
</a> -->