<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <title>Vega VPN</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container-fluid bg1">
    <div class="row">
      <div class="container">
        <%= render partial: 'shared/header' %>
      </div>
    </div>
    <div class="row">
      <%= yield %>
    </div>
  </div>

  <div class="container-fluid footer">
    <div class="row">
      <div class="container-fluid p-0 d-block d-sm-none">
        <%= render partial: 'shared/footer_accordion' %>
      </div>
      <div class="container d-none d-sm-block">
        <%= render partial: 'shared/footer' %>
      </div>
    </div>
  </div>
</body>

</html>